<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kiosko_ssms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.13.388" newVersion="1.1.13.388" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <kiosko_ssms.Properties.Settings>
      <setting name="taxValue" serializeAs="String">
        <value>0.18</value>
      </setting>
      <setting name="taxesStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="taxName" serializeAs="String">
        <value>IGV</value>
      </setting>
      <setting name="currencyShortName" serializeAs="String">
        <value>S./ </value>
      </setting>
      <setting name="currencyLongName" serializeAs="String">
        <value>SOLES</value>
      </setting>
      <setting name="companyName" serializeAs="String">
        <value>PRECOMPRIMIDO Y ASOCIADOS S.A.C</value>
      </setting>
      <setting name="companyAddress" serializeAs="String">
        <value>CALLE AIJA 4900 - LOS OLIVOS 15301 - LIMA PE.</value>
      </setting>
      <setting name="companyTaxId" serializeAs="String">
        <value>10110022001</value>
      </setting>
      <setting name="startupTool" serializeAs="String">
        <value>SALES_FORM</value>
      </setting>
    </kiosko_ssms.Properties.Settings>
  </userSettings>
</configuration>